{% extends '::master.html.twig' %}

{% block title %}UTN Abierta - Santa Fe{% endblock %}

{% block body %}
<section class="hero is-info is-fullheight">
  <!-- Hero header: will stick at the top -->
  <div class="hero-head">
    <header class="nav">
      <div class="container is-fluid">
        <div class="nav-left">
          <a class="nav-item">
            <img src="{{asset('img/logo-utn-white.svg')}}" alt="Logo">
          </a>
        </div>

      </div>
    </header>
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="columns">
                <div class="content column is-half is-offset-one-quarter">
                    <h1 class="is-5 subtitle is-400 is-raleway">¡Bienvenido! Por favor, Inicie sesión</h1>
                    {% if error %}
                    <div class="notification is-warning">
                    ERROR. El email o la contraseña son incorrectos. Si solicito reestablecer su contraseña, su cuenta esta inhabilitada, hasta que la reestablezca.
                    {# error.messageKey|trans(error.messageData, 'security') #}</div>
                    {% endif %}
                    <form action="{{path('showLogin')}}" method="POST">

                        <div class="box">
                            <div class="content">
                                <p class="control has-icon">
                                    <input class="input is-medium" name="_username" type="email" placeholder="Email" value={{last_username}}>
                                    <span class="icon is-small">
                                        <i class="fa fa-envelope"></i>
                                    </span>
                                </p>
                                <p class="control has-icon">
                                    <input class="input is-medium" name="_password" type="password" placeholder="Contraseña">
                                    <span class="icon is-small">
                                        <i class="fa fa-lock"></i>
                                    </span>
                                </p>
                            </div>
                        </div>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token( 'authenticate' ) }}">
                        <button type="submit" class="button is-white is-medium is-pulled-right">Iniciar sesión</button>
                    </form>
                    <a href="{{path('showSolicitarReestablecerPassword')}}" class="button is-white is-outlined is-small is-pulled-left">¡Olvide mi contraseña!</a>
                </div>
            </div>
    </div>
  </div>
</section>
{% endblock %}
